@use "../../partials/global";
@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.todo-container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: $transparent-background;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  &__title {
    padding-top: 1rem;
    text-align: center;
    color: #050505;
  }
}

.todo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
